/* MaxWidth 1300px */
@media (max-width: 81.2em) {
  /* Conocenos section*/
  .conocenos_img {
    width: 50%;
  }
  .conocenos__text__group {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

/* MaxWidth 1100px */
@media (max-width: 81.2em) {
  /* Conocenos section*/
  .conocenos__text__group {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

/* MaxWidth 1051px */
@media (max-width: 65.7em) {
  /* Hero */
  .primary_header {
    font-size: 4.4rem;
    color: #e9e8ee;
  }

  .hero__p {
    font-size: 3rem;
  }
  .hero__button_group {
    grid-column: 3/6;
  }
}

/* MaxWidth 950px */
@media (max-width: 59.4em) {
  html {
    font-size: 50%;
  }
  /* modal*/
  .modal {
    width: 50rem;
  }
}

/* MaxWidth 769px */
@media (max-width: 47.5em) {
  /* header */
  .wrapper__header {
    padding: 1rem 3rem;
  }
  .nav__main {
    justify-content: left;
    padding-left: 1rem;
  }
  .nav__main_list {
    gap: 2.6rem;
  }
  /* Hero */
  .hero__text_group {
    grid-column: 1 / 5;
  }

  .hero__button_group {
    grid-column: 2/6;
  }
  /* Conocenos sections */
  .conocenos__container {
    flex-direction: column;
  }
  .conocenos_img {
    width: 100%;
  }

  /* footer  */
  .row__especialidades__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MaxWidth 630px */
@media (max-width: 39.38em) {
  /* header  */
  /* TODO phone nav*/
  .nav__main {
    justify-content: space-around;
  }
  .nav__main_list {
    visibility: hidden;
    padding: 2rem;
    font-size: 1.6rem;
    background-color: #e9e8ee;
    flex-direction: column;
    position: absolute;
    top: 11rem;
    border-bottom: 5px solid #b30d06;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.5s;
  }
  .nav__main_list.menu_active {
    visibility: visible;
    transition: all 0.5s;
  }

  .nav__main__submenu.hover {
    margin: 0 1rem 1rem;
    background-color: #e9e8ee;
    opacity: 0.95;
    display: block;
    position: relative;
    transform: translateX(0px) translateY(20px);
    z-index: 1;
  }

  .menu__mobil {
    display: block;
  }
}

/* MaxWidth 520px */
@media (max-width: 32.5em) {
  /* header  */

  /* Hero */
  .hero__text_group {
    grid-column: 1 / 6;
  }

  .hero__button_group {
    grid-column: 2/6;
  }

  /* Conocenos */
  .conocenos__container {
    padding: 0 3.2rem;
  }

  /* contacto */
  .contacto__header {
    font-size: 3.6rem;
  }

  /* footer  */
  .row__especialidades__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
